<%- include("partials/header"); -%>
    <h1>About</h1>
    <p> Hallo meine Freunde! This is my first version of the blog website created and deployed on 24th June 2022. Hope to have the next 99 versions soon. I’ve used and learned a lot of technologies while building this project from scratch including HTML, CSS, BOOTSTRAP5, JAVASCRIPT, JQUERY, NODE, EXPRESS, and EJS for templating and to make our site dynamic and at last to persist our data we’ve used MongoDB atlas as our database and to make this website available across the world wide I’ve deployed it on Heroku platform.  </p>
<%- include("partials/footer"); -%>
